body {
    margin: 0;
    padding: 0;
    font: 12px/1.5 "Microsoft YaHei",tahoma,arial,Hiragino Sans GB,\5b8b\4f53;
    background: #eee;
}
header {
    height: 80px;
    line-height: 80px;
    
    color: #FFFFFF;
    background: #0696d3;
}
header>span {
    margin-left: 50px;
    font-size: 30px;
    font-weight: bold;
}
aside {
    position: absolute;
    width: 240px;
    color: #ffffff;
    /* background-color: #121828; */
    background: rgba(214, 214, 214, 1);
    min-height: 80%;
    height: 80%;
    overflow-y: hidden;
}
.aside-space {
    height: 80px;
    /* background-color: #373D4B; */
}
aside .ant-menu {
    color: #b8b8b8;
    /* background: #121828; */
    background: rgba(214, 214, 214, 1);
    font-weight: bold;
}
aside .ant-menu-item a {
    /* color: #b8b8b8; */
    color: #373D4B;
}
.ant-menu-submenu .ant-menu-submenu-title {
    color: #373D4B;
}
aside .ant-menu-item-selected a {
    color: #ffffff;
}
aside .ant-menu-item:hover, aside .ant-menu-item-active, aside .ant-menu-submenu-active, aside .ant-menu-submenu-title:hover {
    color: #ffffff;
    background: #3B548C;
}
aside .ant-menu-sub.ant-menu-inline {
    /* background: #121828; */
    background: rgba(214, 214, 214, 1);
}
aside .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background: #373D4B;
    color: #ffffff;
}
aside .ant-menu-inline .ant-menu-item::after {
    border-right: 3px solid #b8b8b8;
}
section {
    margin-left: 240px;
}
.menu-display {
    height: 80px;
}
.menu-display > .anticon {
    font-size: 30px;
    line-height: 80px;
    padding-left: 50px;
    cursor: pointer;
    text-align: left;
}
.menu-display svg {
    cursor: pointer;
}
.breadcrumb {
    margin-left: 240px;
}
.breadcrumb .ant-breadcrumb {
    padding-left: 30px;
    height: 50px;
    line-height: 50px;
    font-weight: bold;
}
.logout {
    float: right;
    line-height: 80px;
    margin-right: 50px;
    font-weight: bold;
}
.logout .logout-btn {
    height: 40px;
    width: 120px;
    margin-left: 30px;
    font-weight: bold;
}