.add-json {
    float: left;
    width: 50%;
}
.add-json .json-content {
    min-height: 300px;
}
.add-form-btn {
    margin-top: 30px;
    text-align: center;
}
#add-form-container .add-form-divider {
    min-height: 500px;
}
.add-form-divider {
    float: left;
}
.display-form {
    width: 50%;
    float: right;
}