.add-json {
}
.add-json .json-content {
    min-height: 300px;
}
.add-form-btn {
    margin-top: 30px;
    text-align: center;
}
#add-form-container .add-form-divider {
}
.add-form-divider {
}
.display-form {
}
.confirm-section {
    text-align: center;
}